<div class="experto-container">
  <h4 class="titulo">10 mil horas para convertirte en un experto</h4>
  <p class="descripcion">
    ¿Sabías que para convertirte en un experto en cualquier tema necesitas estudiar 10mil horas sobre este? ¿estás dispuesto a hacerlo?
  </p>

  <div class="contador-container">
    <span class="horas-acumuladas">{{ horasAcumuladas() }}</span>
    <span class="horas-totales">/ 10,000 Horas</span>
  </div>

  <div class="progress-bar-background">
    <div class="progress-bar-foreground" [style.width.%]="progreso()"></div>
  </div>
</div>
