/* componente cuerpo */

.welcome-box {
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: 'Segoe UI', 'Roboto', 'Helvetica Neue', sans-serif;
  font-size: 3.2rem;
  font-weight: 700;
  color: #fff;
  background: linear-gradient(45deg, #7a42a0, #a0427a);
  padding: 1rem 2.5rem;
  border-radius: 50px;
  position: relative;
  z-index: 1;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
  letter-spacing: 1px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

h1:hover {
  transform: translateY(-5px);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.4);
}

.buttons-section {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 2rem;
}

.login-button, 
.register-button {
  background-color: #7a42a0 !important;
  color: white !important;
  padding: 15px 30px !important;
  border-radius: 8px !important;
  border: none !important;
  outline: none !important;
  cursor: pointer !important;
  text-decoration: none !important;
  display: block !important;
  transition: all 0.3s ease;
}

.login-button:hover, 
.register-button:hover {
  transform: translateY(-3px);
  background-color: var(--accent-color) !important;
}
